* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general*/
@import "./general/typography";
@import "./general/colors";

/*pages*/
@import "./pages/about-me";
@import "./pages/contact";
@import "./pages/what-makes-me-me";
@import "./pages/memories";
@import "./pages/home";

/*layout*/
@import "./layouts/header";

/*media queries*/

@import "./pages/media-queries";