.contact { 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: flex-start;
    gap: 3rem;
    background-image: url(https://images.pexels.com/photos/8930333/pexels-photo-8930333.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    
    .contact-text h4{ 
        margin: 15px 0;
        color: var(--main-color);
        font-size: 20px;
        font-weight: 500;
    }
    .contact-text h2{ 
        font-size: var(--h2-font);
        color: var(--bg-color);
    }
    .contact-text p{ 
        color: var(--bg-color);
        font-size: var(--p-font);
        line-height: 30px;
        margin-bottom: 1rem;
    }
    .contact-list { 
        margin-bottom: 1rem;
        margin-top: 2rem;
        li { 
            margin-bottom: 10px;
            display: block;
            a {
                display: block;
                color: var(--bg-color);
                font-size: var(--p-font);
                font-weight: 600;
                transition: all 0.4s ease;
            }
        }
    }
    .contact-list li a:hover {
        transform: scale(1.01) translateY(-5px);
        color: var(--main-color);
    }
    .contact-icons i{
        height: 40px;
        width: 40px;
        border-radius: 0.5rem;
        color: var(--main-color);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        margin-right: 10px;
        transition: all 0.4s ease; 
    }
    .contact-icons i:hover{
        color: var(--bg-color); 
        transform: scale(1.01) translateY(-5px);
        background-color: var(--main-color);
    }
    .contact-form form{
        position: relative;
    }
    form input, form textarea {
        border: none;
        outline: none;
        width: 100%;
        padding: 15px;
        background-color: rgba(23, 23, 23, 0.868);
        color: var(--bg-color);
        font-size: 1rem;
        margin-bottom:0.5rem;
        font-weight: 600;
        border-radius: 0.5rem;
    }
    .contact-form textarea {
        resize: none;
        height: 220px;
    }
    form .send {
        display: inline-block;
        font-size: 17px;
        font-weight: 600;
        background-color: var(--main-color);
        color: var(--bg-color);
        width: 190px;
        transition: all 0.4s ease;
        cursor: pointer;
    }
    form .send:hover {
        background-color: var(--text-color);
    }
}
