section { 
    padding: 160px 16% 90px;
}
.home { 
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(https://images.pexels.com/photos/2927854/pexels-photo-2927854.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    display: flex;
    align-items:center;
    justify-items: flex-start;
    .home-text h1 {
        margin: 20px 0;
        font-size: var(--h1-font);
        font-weight: bold;
        line-height: 1.1;
        letter-spacing: 2px;
        span {
            color: var(--main-color);
            font-family: 'Rock Salt', cursive;
        }
    } 
    .home-text h4 {
        color: var(--main-color);
        font-size: 24px;
        font-weight: 600;
    }
    .home-text h3 {
        margin-bottom: 3rem;
        font-size: 24px;
        font-weight: 600;
    }
    .btn{
        display: inline-block;
        padding: 14px 40px;
        border-radius: 0.5rem;
        font-size: 17px;
        font-weight: 500;
        background: var(--main-color);
        color: var(--bg-color);
        border: 1px solid var(--main-color);
        transition: all 0.4s ease;
    }
    .btn:hover{
        transform: scale(1.01) translateY(-5px);
        background: transparent;
        border: 1px solid var(--main-color);
        background: #ff220095;
    }
}
