@media (max-width:1325px) {
    header {
        padding: 16px 3%;
    }
    section {
        padding: 130px 3% 60px;
    }
}

@media (max-width:970px) {
    :root {
        --h1-font: 68px;
        --h2-font:46px;
        --p-font: 16px;
    }
    section {
        padding: 70px 3% 60px;
    }
}

@media (max-width:970px) {
    .home {
        background-position: center;
    }
}

@media (max-width:970px) {
    .about {
        grid-template-columns: 1fr;
        height: 100vh;
        .about-img {
            text-align: center;
        }
    } 
}

@media (max-width:970px) {
    .contact {
        grid-template-columns: 1fr;
        height: 160vh;
    }
}

@media (max-width:970px) {
    .qualities {
        grid-template-columns: 1fr;
        height: 180vh;
    }
}

@media only screen and (min-width: 970px) and (max-width: 1085px) {
    .qualities {
        grid-template-columns: 1fr;
        height: 150vh;
    }
}

@media (max-width:1084px) {
   .header {
    position: relative;
    justify-content: center !important;
    }
    #menu-icon {
        display: inline-block;
    }
    .navbar {
        position:relative;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #F6F7EB;
        transition: all 0.4s ease;
        a {
            display: block;
            padding: 0.5rem;
            margin: 0.5rem;
            text-align: justify;
            width: auto;
        }
    }
    .logo img {
        width: 20px;
        height: auto;
    }
    .contact-text, .about-img, .main-text {
        margin-top: 10rem;
    }

    .memories {
        margin-top: 12rem;
    }
    .home-text {
        margin-top: 8rem;
    }
}






